URxvt.internalBorder:    15
URxvt.externalBorder:    0
!URxvt.lineSpace:        0
!urxvt*shading:          30
URxvt.depth:             32
URxvt.saveLines:         10000
URxvt*geometry:          96x30
URxvt*terminalName:      rxvt-unicode-256color
URxvt*visualBell:        false
!URxvt.scrollStyle:      rxvt
URxvt.scrollBar:         false
URxvt*scrollTtyOutput:   false
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true
URxvt.tabbed.tabbar-bg:  -2
URxvt.tabbed.tabbar-fg:  -2
URxvt.tabbed.tab-bg:     -2
URxvt.tabbed.tab-fg:     -2
URxvt.tabbed.title-bg:   -2
URxvt.tabbed.title-fg:   -2
URxvt.tabbed.autohide:   true
URxvt.tabbed.new-button: false
URxvt.tabbed.title:      false
terminal.internalBorder: 25

URxvt.font:                       xft:SourceCodePro:Medium:size=10
terminal.font:                    xft:SourceCodePro:Medium:size=10
